<!DOCTYPE HTML>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>{{ paste.title }} - ShitXi</title>
	<link rel="shortcut icon" href="/img/favicon.ico"/>
	<script src="js/jquery.min.js"></script>
	<script src="js/shitxi.min.js"></script>
	<link href="css/shitxi.css" rel="stylesheet" type="text/css">
	<style>
		body {
			-webkit-text-size-adjust: none;
		}
	</style>
	<script type="text/javascript">
		if (top != self)
			top.location.href = location.href;
	</script>
</head>

<body>
	<div id="main_frame">
		<div id="header">
			<div id="header_wrap">
				<div id="header_top">
					<div id="header_logo" onclick="location.href='/'">ShitXi</div>
					<div id="header_new_paste" class="new_paste_button" onclick="location.href='/'">paste</div>
				</div>
			</div>
		</div>
		<div id="super_frame">
			<div id="monster_frame">
				<div id="content_frame">
					<div id="content_right">
						<div class="content_right_menu">
							<div class="content_right_title"><a href="/archive">Public Pastes</a></div>
							<div id="menu_2">
								<ul class="right_menu">
									{% for paste in pastes %}
										<li><a href="/{{ paste.code }}">{{ paste.title }}</a><span>{{ paste.human_time }}</span></li>
									{% endfor %}
								</ul>
							</div>
						</div>
						<div id="abrpm2"></div>

						<div style="padding: 0; width:160px;margin: 10px 0;clear:left;">
							<div id="Unit2">
								<script>
									googletag.cmd.push(function () {
										googletag.display("Unit2");
									});
								</script>
							</div>
						</div>
					</div>
					<div id="content_left">
						<div id="ie_msg"></div>


						<div class="paste_box_frame">
							<div class="paste_box_icon">
								<img src="/img/t.gif" class="i_gb" title="Anonymous guest user" alt="" />
							</div>
							<div class="paste_box_info">
								<div class="paste_box_line1" title="{{ paste.title }}">
									<h1>{{ paste.title }}</h1>
								</div>
								<div class="paste_box_line2">
									<img src="/img/t.gif" class="img_line t_us" alt="" style="margin-left:0"> a guest
									<img src="/img/t.gif" class="img_line t_da" alt=""> <span
										title="{{ paste.human_time }}">{{ paste.human_time }}</span>
									<img src="/img/t.gif" class="img_line t_vi" alt=""
										title="Visits to this paste"> {{ paste.views }}
								</div>
							</div>
						</div>

						<div class="content_text no_padding">
						</div>
						<div id="code_frame2">
							<div id="code_frame2">
								<div id="code_frame">
									<div id="code_buttons">
										<span class="go_right">
											<a href="/raw/{{ paste.code }}" class="buttonsm">raw</a><a href="/dl/{{ paste.code }}"
												class="buttonsm">download</a>
										</span>
										<span class="h_640"><a href="/archive" class="buttonsm" style="margin:0">text</a></span> {{ paste.size }}
									</div>
									<div id="selectable">
										<ol class="text">
											{% for line in paste.lines %}
												<li class="li1">
													<div class="de1" style="word-wrap: break-word; white-space: pre-wrap;">{{ line }} </div>
												</li>
											{% endfor %}
										</ol>
									</div>
								</div>
							</div>
						</div>
						<div class="content_title no_border">RAW Paste Data<div id="bsa-footer"></div>
						</div>
						<div class="textarea_border" style="margin-bottom:0">
							<textarea id="paste_code" class="paste_code" name="paste_code"
								onkeydown="return catchTab(this,event)">{{ paste.content }}</textarea>
						</div>
						<script type="text/javascript">
							$(document).ready(function () {
								$(".close1").click(function () {
									return $("#float-box-1").hide(), createCookie("l2c_1", !0, 90), !1
								});
								$(".cookie_button").click(function () {
									return $("#float-box-1").hide(), createCookie("l2c_1", !0, 90), !1
								});
								$(".close2").click(function () {
									return $("#float-box-2").hide(), createCookie("l2c_2", !0, 14), !1
								});
								$(".close3").click(function () {
									return $("#float-box-3").hide(), createCookie("l2c_2", !0, 14), !1
								});
								$(".close4").click(function () {
									return $("#float-box-4").hide(), createCookie("l2c_4", !0, 7), !1
								});
							});
						</script>
						<div id="float-box-frame"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- <div id="footer">
		<span class="h_800">
			By using <s>Pastebin.com</s> ShitXi you agree to <s>our cookies policy to enhance your experience.</s> absolutely nothing.
			<br>
			<s>Site design & logo © 2020 Pastebin;</s> user contributions (pastes) licensed under <a
				href="http://creativecommons.org/licenses/by-sa/3.0/" target="_blank" rel="nofollow">cc by-sa 3.0</a> Dedicated
				Server Hosting by <s>Steadfast</s> my home computer.
			<br>
			contact us at: ShitXi <b>[at]</b> dnmx <b>[dot]</b> org
		</span>
	</div> -->
	<div class="pub_300x250"></div><a href="#0" class="cd-top">Top</a>
</body>

</html>